<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <script src="{% static 'scripts/main.js' %}"></script>
  <title>Anadea Обеды</title>
</head>
<body class="ColoredContainer">
  <header class="Header">
    <span class="Header-logo">Anadea</span>
    <a class="Header-signIn">Sign in</a>
  </header>
  <div class="MainContent">
    <div class="ButtonImport">
      <button class="ButtonImport-button">Import prev week</button>
    </div>
    <div class="FormDay">
      <div class="FormDay-day">
        <h2 class="FormDay-title">Понедельник</h2>
        <form action="" class="FormDay-day" method="post">
          <select name="" id="">
            <option value="without">Без обеда</option>
            <option value="mar-def">Марио</option>
            <option value="mar-veg">Марио веган</option>
            <option value="loft-def">Лофт</option>
            <option value="loft-veg">Лофт веган</option>
            <option value="loft-diet">Лофт диета</option>
            <option value="mendis">Мендис</option>
          </select>
        </form>
      </div>
      <div class="FormDay-day">
        <h2 class="FormDay-title">Вторник</h2>
        <form action="" class="FormDay-day" method="post">
          <select name="" id="">
            <option value="without">Без обеда</option>
            <option value="mar-def">Марио</option>
            <option value="mar-veg">Марио веган</option>
            <option value="loft-def">Лофт</option>
            <option value="loft-veg">Лофт веган</option>
            <option value="loft-diet">Лофт диета</option>
            <option value="mendis">Мендис</option>
          </select>
        </form>
      </div>
      <div class="FormDay-day">
        <h2 class="FormDay-title">Среда</h2>
        <form action="" class="FormDay-day" method="post">
          <select name="" id="">
            <option value="without">Без обеда</option>
            <option value="mar-def">Марио</option>
            <option value="mar-veg">Марио веган</option>
            <option value="loft-def">Лофт</option>
            <option value="loft-veg">Лофт веган</option>
            <option value="loft-diet">Лофт диета</option>
            <option value="mendis">Мендис</option>
          </select>
        </form>
      </div>
      <div class="FormDay-day">
        <h2 class="FormDay-title">Четверг</h2>
        <form action="" class="FormDay-day" method="post">
          <select name="" id="">
            <option value="without">Без обеда</option>
            <option value="mar-def">Марио</option>
            <option value="mar-veg">Марио веган</option>
            <option value="loft-def">Лофт</option>
            <option value="loft-veg">Лофт веган</option>
            <option value="loft-diet">Лофт диета</option>
            <option value="mendis">Мендис</option>
          </select>
        </form>
      </div>
      <div class="FormDay-day">
        <h2 class="FormDay-title">Пятница</h2>
        <form action="" class="FormDay-day" method="post">
          <select name="" id="">
            <option value="without">Без обеда</option>
            <option value="mar-def">Марио</option>
            <option value="mar-veg">Марио веган</option>
            <option value="loft-def">Лофт</option>
            <option value="loft-veg">Лофт веган</option>
            <option value="loft-diet">Лофт диета</option>
            <option value="mendis">Мендис</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
