<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <script src="{% static 'scripts/main.js' %}"></script>
  <title>Anadea Обеды</title>
</head>
<body class="ColoredContainer">
  <header class="Header">
    <span class="Header-logo">Anadea</span>
    <a class="Header-signIn">Sign in</a>
  </header>
  <div class="MainContent">Some</div>
</body>
</html>
